@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  @apply bg-darkest;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@layer base {
  @font-face {
    font-family: 'Quicksand';
    src: url('assets/fonts/Quicksand-VariableFont_wght.ttf') format('truetype');
  }

  .icons-list li:hover p {
    @apply opacity-100 duration-1000 ease-in-out xs:opacity-100 xs:transition-opacity;
  }
}

.animate-flip-down {
  animation: flip-down 1s ease-in-out;
}

.slide-right {
  animation: slide-in-right 1s ease-in-out;
}

@keyframes flip-down {
  0% {
    opacity: 0;
    blur: 5px;
    transform: rotate(30deg);
  }
  100% {
    opacity: 1;
    blur: 0;
    transform: rotate(0deg);
  }
}

@keyframes slide-in-right {
  0% {
    opacity: 0;
    blur: 5px;
    -moz-transform: translateX(-100%);
    -ms-transform: translateX(-100%);
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%);
  }
  100% {
    opacity: 1;
    blur: 0;
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
}

.hide-left {
  opacity: 0;
  filter: blue(5px);
  transform: translateX(-100%);
  transition: all 1s;
  transition-delay: 300ms;
}

.hide-right {
  opacity: 0;
  filter: blue(5px);
  transform: translateX(100%);
  transition: all 1s;
  transition-delay: 300ms;
}

.show {
  opacity: 1;
  filter: blue(0);
  transform: translateX(0);
}

.letter-one {
  animation: letter-animation-one 1.5s ease-in-out 2s infinite forwards;
}
.letter-two {
  animation: letter-animation-two 1.5s ease-in-out 2s infinite forwards;
}

@keyframes letter-animation-one {
  0% {
    opacity: 1;
    transform: translateX(0%);
    -moz-transform: translateX(0%);
    -ms-transform: translateX(0%);
    -webkit-transform: translateX(0%);
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    transform: translateX(100%) translateY(-100%) rotate(45deg);
    -moz-transform: translateX(100%) translateY(-100%) rotate(45deg);
    -ms-transform: translateX(100%) translateY(-100%) rotate(45deg);
    -webkit-transform: translateX(100%) translateY(-100%) rotate(45deg);
  }
}

@keyframes letter-animation-two {
  0% {
    opacity: 0;
    transform: translateX(-110%);
    -moz-transform: translateX(-110%);
    -ms-transform: translateX(-110%);
    -webkit-transform: translateX(-110%);
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
    transform: translateX(0%);
    -moz-transform: translateX(0%);
    -ms-transform: translateX(0%);
    -webkit-transform: translateX(0%);
  }
}
