@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  @apply bg-darkest;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.scroll-bar {
  scrollbar-color: #222743 #222743;
}

.scroll-bar::-webkit-scrollbar {
  height: 5px;
}

.scroll-bar::-webkit-scrollbar-track {
  @apply rounded-lg bg-dark;
  width: 25px;
  height: 25px;
}

.scroll-bar::-webkit-scrollbar-thumb {
  @apply rounded-lg bg-primary;
}

@layer base {
  @font-face {
    font-family: 'Quicksand';
    src: url('assets/fonts/Quicksand-VariableFont_wght.ttf') format('truetype');
  }

  .icons-list li:hover p {
    @apply opacity-100 duration-1000 ease-in-out xs:opacity-100 xs:transition-opacity;
  }
}

.slide-down {
  animation: slide-up-down 500ms ease-in-out;
}

@keyframes slide-up-down {
  0% {
    -moz-transform: translateY(-100%);
    -ms-transform: translateY(-100%);
    -webkit-transform: translateY(-100%);
    transform: translateY(-100%);
  }
  100% {
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}

.animate-flip-down {
  animation: flip-down 1s ease-in-out;
}

.slide-right {
  animation: slide-in-right 1s ease-in-out;
}

@keyframes flip-down {
  0% {
    opacity: 0;
    blur: 5px;
    transform: rotate(30deg);
  }
  100% {
    opacity: 1;
    blur: 0;
    transform: rotate(0deg);
  }
}

@keyframes slide-in-right {
  0% {
    opacity: 0;
    blur: 5px;
    -moz-transform: translateX(-100%);
    -ms-transform: translateX(-100%);
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%);
  }
  100% {
    opacity: 1;
    blur: 0;
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
}

.hide-left {
  opacity: 0;
  transform: translateX(-100%);
  transition: all 1s;
  transition-delay: 300ms;
}

.hide-right {
  opacity: 0;
  transform: translateX(100%);
  transition: all 1s;
  transition-delay: 300ms;
}

.show {
  opacity: 1;
  transform: translateX(0);
}

.letter-one {
  animation: letter-animation-one 1.5s ease 2s infinite forwards;
}
.letter-two {
  animation: letter-animation-two 1.5s ease-in-out 2s infinite forwards;
}

@keyframes letter-animation-one {
  0% {
    opacity: 1;
    transform: translateX(0%);
    -moz-transform: translateX(0%);
    -ms-transform: translateX(0%);
    -webkit-transform: translateX(0%);
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 0;
    transform: translateX(100%);
    -moz-transform: translateX(100%);
    -ms-transform: translateX(100%);
    -webkit-transform: translateX(100%);
  }
}

@keyframes letter-animation-two {
  0% {
    opacity: 0;
    transform: translateX(-100%);
    -moz-transform: translateX(-100%);
    -ms-transform: translateX(-100%);
    -webkit-transform: translateX(-100%);
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
    transform: translateX(0%);
    -moz-transform: translateX(0%);
    -ms-transform: translateX(0%);
    -webkit-transform: translateX(0%);
  }
}

.animate-1 {
  animation: circle-1 10s linear 0s infinite alternate;
}
.animate-2 {
  animation: circle-2 7s linear 0s infinite alternate;
}
.animate-3 {
  animation: circle-3 5s linear 0s infinite alternate;
}
.circle-1-left {
  @apply left-[-15%] top-[10%] md:left-[5%] md:top-[12%];
}

.circle-2-left {
  @apply left-[-3%] top-[20%] md:left-[3%] md:top-[20%] md:max-h-[200px] md:max-w-[200px];
}

.circle-3-left {
  @apply left-[-10%] top-[25%] md:left-[4%] md:top-[30%];
}

@keyframes circle-1 {
  0% {
    transform: translateX(0%) translateY(0%);
    -moz-transform: translateX(0%) translateY(0%);
    -ms-transform: translateX(0%) translateY(0%);
    -webkit-transform: translateX(0%) translateY(0%);
  }
  50% {
    transform: translateX(-15%) translateY(-35%);
    -moz-transform: translateX(-15%) translateY(-35%);
    -ms-transform: translateX(-15%) translateY(-35%);
    -webkit-transform: translateX(-15%) translateY(-35%);
  }
  100% {
    transform: translateX(0%) translateY(0%);
    -moz-transform: translateX(0%) translateY(0%);
    -ms-transform: translateX(0%) translateY(0%);
    -webkit-transform: translateX(0%) translateY(0%);
  }
}
@keyframes circle-2 {
  0% {
    transform: translateX(0%) translateY(0%);
    -moz-transform: translateX(0%) translateY(0%);
    -ms-transform: translateX(0%) translateY(0%);
    -webkit-transform: translateX(0%) translateY(0%);
  }
  50% {
    transform: translateX(-60%) translateY(-35%);
    -moz-transform: translateX(-60%) translateY(-35%);
    -ms-transform: translateX(-60%) translateY(-35%);
    -webkit-transform: translateX(-60%) translateY(-35%);
  }
  100% {
    transform: translateX(0%) translateY(0%);
    -moz-transform: translateX(0%) translateY(0%);
    -ms-transform: translateX(0%) translateY(0%);
    -webkit-transform: translateX(0%) translateY(0%);
  }
}
@keyframes circle-3 {
  0% {
    transform: translateX(0%) translateY(0%);
    -moz-transform: translateX(0%) translateY(0%);
    -ms-transform: translateX(0%) translateY(0%);
    -webkit-transform: translateX(0%) translateY(0%);
  }
  50% {
    transform: translateX(-15%) translateY(30%);
    -moz-transform: translateX(-15%) translateY(30%);
    -ms-transform: translateX(-15%) translateY(30%);
    -webkit-transform: translateX(-15%) translateY(30%);
  }
  100% {
    transform: translateX(0%) translateY(0%);
    -moz-transform: translateX(0%) translateY(0%);
    -ms-transform: translateX(0%) translateY(0%);
    -webkit-transform: translateX(0%) translateY(0%);
  }
}
